In [101]:
# load libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [102]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [103]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [104]:
# import data
%cd /content/drive/My Drive/Colab Notebooks/Data/Cross_Sell
data = pd.read_table("LOS_Cross_Sell_v1.txt", delimiter="|")
data.info()

/content/drive/My Drive/Colab Notebooks/Data/Cross_Sell
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372842 entries, 0 to 372841
Data columns (total 57 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   #customernumber             372842 non-null  int64
 1   sex                         372842 non-null  object
 2   calc_customerinfo_age       372842 non-null  int64
 3   nationality                 372842 non-null  object
 4   residencystatus             372641 non-null  object
 5   race                        372842 non-null  int64
 6   maritalstatus               372842 non-null  int64
 7   academicqualification       131855 non-null  float64
 8   staywith                    342439 non-null  float64
 9   numberofdependent           372833 non-null  float64
 10  employmenttype              372828 non-null  float64
 11  businessnature              372840 non-null  float64
 12  residentialpostcode         372840 non-null  float64
 13  residentialstatecode        372839 non-null  object
 14  residentialcity             372841 non-null  object
 15  employerstatecode           372840 non-null  object
 16  jobtitle                    372654 non-null  object
 17  yearofservices              372669 non-null  float64
 18  grosssalary                 372656 non-null  float64
 19  nettsalary                  372656 non-null  float64
 20  annualincome                372656 non-null  float64
 21  paysliptype                 372404 non-null  float64
 22  totalapplicationcount       372842 non-null  int64
 23  epcreditlostcount           372842 non-null  int64
 24  epactivecount               372842 non-null  int64
 25  akpk                        372842 non-null  int64
 26  fraud                       372842 non-null  int64
 27  riskgroup                   372842 non-null  int64
 28  productlimitoutstanding     372842 non-null  float64
 29  eppflimitoutstanding        372842 non-null  float64
 30  commitmentnetsalary         372842 non-null  float64
 31  totalcommitment             372842 non-null  float64
 32  totalinstallment            372842 non-null  float64
 33  nonbankcommitment           372842 non-null  float64
 34  first_eppfhistory           88572 non-null   float64
 35  passscoringflag             334143 non-null  object
 36  finalscore                  333905 non-null  float64
 37  currentrepaymentratio       363240 non-null  float64
 38  newdsr                      363240 non-null  float64
 39  scorerank                   363196 non-null  object
 40  newrepaymentratio           363240 non-null  float64
 41  netdisposableincome         363240 non-null  float64
 42  min_cashprice               372707 non-null  float64
 43  average_cashprice           372707 non-null  float64
 44  max_cashprice               372707 non-null  float64
 45  min_financeprice            372707 non-null  float64
 46  average_financeprice        372707 non-null  float64
 47  max_financeprice            372707 non-null  float64
 48  average_interest            372842 non-null  float64
 49  average_term                372842 non-null  float64
 50  average_monthly_instalment  372842 non-null  float64
 51  total_approved_record       372842 non-null  int64
 52  total_declined_record       372842 non-null  int64
 53  app_channel_online          372842 non-null  int64
 54  app_channel_offline         372842 non-null  int64
 55  app_channel_internal        372842 non-null  int64
 56  target                      372842 non-null  int64
dtypes: float64(32), int64(16), object(9)
memory usage: 162.1+ MB

In [105]:
# get percentage count of target variable
data['target'].value_counts()

0    366374
1      6468
Name: target, dtype: int64

In [106]:
# Define function to take largest digit from a number
def Largestdigit(n):
   largest_digit = 0
   smallest_digit = 9
   while (n):
       digit = n % 10
       largest_digit = max(digit, largest_digit)
       n = n // 10
   return largest_digit

In [107]:
data['first_eppfhistory'] = data['first_eppfhistory'].apply(lambda x: Largestdigit(x) if pd.notnull(x) else x)
data['first_eppfhistory'] = data['first_eppfhistory'].fillna("-9999")

data['first_eppfhistory'].value_counts()

-9999    284270
0.0       70420
1.0        6937
6.0        3846
2.0        3099
3.0        1435
7.0         880
4.0         721
5.0         610
9.0         497
8.0         127
Name: first_eppfhistory, dtype: int64

In [108]:
# replace wrong value
data.at[207914,'residentialcity']='Sibu'
data.at[207914,'residentialstatecode']='Sarawak'
data.at[207914,'residentialpostcode']='96000'
data.at[207914,'employerstatecode']='Sarawak'

data.at[103021,'residentialcity']='Alor Setar'
data.at[103021,'residentialstatecode']='Kedah'
data.at[103021,'residentialpostcode']='05400'
data.at[103021,'employerstatecode']='WP Kuala Lumpur'

data.at[328413,'residentialstatecode']='Pahang'

data.at[149469,'residentialcity']='Tanah Merah'
data.at[149469,'residentialstatecode']='Kelantan'
data.at[149469,'employerstatecode']='Kelantan'

# replace inconsistence values
data['residentialstatecode'] = data['residentialstatecode'].replace(['KUALA LUMPUR'],['WP Kuala Lumpur'])
data['employerstatecode'] = data['employerstatecode'].replace(['KUALA LUMPUR'],['WP Kuala Lumpur'])
data['employerstatecode'] = data['employerstatecode'].replace(['MALACCA'],['Melaka'])

data['sex'] = data['sex'].replace(['1'],['M'])
data['sex'] = data['sex'].replace(['2'],['F'])

data['race'] = data['race'].replace([1],['Malay'])
data['race'] = data['race'].replace([2],['Chinese'])
data['race'] = data['race'].replace([3],['Indian'])
data['race'] = data['race'].replace([4],['Others'])

data['maritalstatus'] = data['maritalstatus'].replace([1],['Married'])
data['maritalstatus'] = data['maritalstatus'].replace([2],['Single'])
data['maritalstatus'] = data['maritalstatus'].replace([3],['Divorced'])
data['maritalstatus'] = data['maritalstatus'].replace([4],['WIndowed'])

data['staywith'] = data['staywith'].replace([1],['Spouse'])
data['staywith'] = data['staywith'].replace([2],['Family'])
data['staywith'] = data['staywith'].replace([3],['Parent'])
data['staywith'] = data['staywith'].replace([4],['Siblings'])
data['staywith'] = data['staywith'].replace([5],['Relative'])
data['staywith'] = data['staywith'].replace([6],['Friend'])
data['staywith'] = data['staywith'].replace([7],['Alone'])

data['numberofdependent'] = data['numberofdependent'].replace([-1],[0])
data['numberofdependent'] = data['numberofdependent'].apply(lambda x: 0 if x>10 else x)

data['jobtitle'] = data['jobtitle'].replace(to_replace ='[a-zA-Z]', value = 90, regex = True)

data['target'] = data['target'].replace([1],['Yes'])
data['target'] = data['target'].replace([0],['No'])

In [109]:
# drop this column because most of the value is NA
data = data.drop(['academicqualification'], axis=1)
data = data.drop(['total_approved_record'], axis=1)
data = data.drop(['total_declined_record'], axis=1)

#drop na value
data = data.dropna()

# drop data for specific situation
condition = data['race'] == 90
data = data.loc[~condition]

condition = data['employmenttype'] == 0
data = data.loc[~condition]

condition = data['jobtitle'] == 0
data = data.loc[~condition]

In [110]:
data['sex'] = data['sex'].replace(['1'],['M'])
data['sex'] = data['sex'].replace(['2'],['F'])
data['sex'].value_counts()

M    204314
F    106338
Name: sex, dtype: int64

In [111]:
data['target'].value_counts(normalize=True)

No     0.99426
Yes    0.00574
Name: target, dtype: float64

In [112]:
from google.colab import files
data = data.drop(['#customernumber'], axis=1)
data.to_csv('output.csv', encoding = 'utf-8-sig', index=False) 
files.download('output.csv')